.welcome {
  width: 1332px;
}

.welcomeBlock {
  min-width: none;
  margin-top: 260px;
  margin-bottom: 260px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 571px;
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 0.66667;
  color: var(--inputs);
  margin-bottom: 16px;
}

.welcomeTxt {
  line-height: 1.33333;
  color: var(--inputs);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 40px;
}

.welcomeBtn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  border-radius: 200px;
  border: none;
  border-radius: 200px;
  width: 173px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background: var(--button);
  cursor: pointer;
  display: flex;
  width: 173px;
}

.welcomeBtn:hover {
  background: var(--button-hover);
}
