/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nova+Cut&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root 
{
	--main: #101828;
	--text: #475467;
	--white: #fff;
	--inputs: #f7f7f7;
	--badges: #f2f4f7;
	--gray: #00000040;


  --font-family: "Fira Mono", sans-serif;
  --font-main: "Nova Cut", system-ui;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}
a{text-decoration: none;
	
}

ul {list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	}

h1, h2, h3, h4, h5, h6, p {
		margin-top: 0;
		margin-bottom: 0;
	}
img{display: block;
	height: auto;
	max-width: 100%;
	object-fit:cover;}


	/* .nova-cut-regular {
  font-family: "Nova Cut", system-ui;
  font-weight: 400;
  font-style: normal;
} */

/* .roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .fira-mono-regular {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
} */

/* .fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
} */