@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root 
{
	--main: #101828;
	--text: #475467;
	--white: #fff;
	--inputs: #f7f7f7;
	--badges: #f2f4f7;
	--gray: #6c717b;
	--gray-light: #dadde1;
	--button: #e44848;
	--button-hover: #d84343;
	--rating: #ffc531;

  --font-family: "Inter", sans-serif;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}
a{text-decoration: none;
	
}

ul {list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	}

h1, h2, h3, h4, h5, h6, p {
		margin-top: 0;
		margin-bottom: 0;
	}
img{display: block;
	height: auto;
	max-width: 100%;
	object-fit:cover;}
