.homeContainer{
 
}

.title{
 display: grid;
  grid-template-columns: 88px 1fr auto;
}
.secondBigTitle, .titleTxt{
  display: grid;
  align-items: center;
  justify-items: center;
}
.mainTitle{
  font-family: font-main;
}

.secondSection{
  display: grid;
  grid-template-columns: 576px 1fr 426px;
  gap: 24px;
  background-color: #e09abf;
}
.thirdSection{
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  gap:24px;
}
.point{
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: var(--gray);
}

